<li>
  <h3 id="{{ site.data.resources-help.title | downcase | replace: ' ', '-' }}" class="usa-accordion-button"
    aria-expanded="false"
    aria-controls="{{ site.data.resources-help.number }}">
    {{ site.data.resources-help.title }}
  </h3>
  <div id="{{ site.data.resources-help.number }}" class="usa-accordion-content secondary-accordion-content">

    <ul>

      {% if include.phase != "live" %}
      <li>{{ site.data.resources-help.next-steps | markdownify }}</li>
      {% endif %}

      <li>{{ site.data.resources-help.guides | markdownify }}</li>

      <li>{{ site.data.resources-help.help | markdownify }}</li>
    </ul>

    <a href="#">Return to top</a>

  </div>

</li>
