{% assign this-phase = include.phase %}

<h4>Timeframe</h4>

{{ site.data.planning-for.[this-phase].timeframe | markdownify }}

<h4>The team you need</h4>

<p>See <a href="related/other-resources/team-structure">team structure</a> to understand the skillsets you'll need throughout the service lifecycle.</p>

<h4>At the end of {{ this-phase }}</h4>

{% if site.data.planning-for.[this-phase].end %}

{{ site.data.planning-for.[this-phase].end | markdownify }}

{% else %}

<p>At least a week before {{ this-phase }} ends, schedule a <a href="related/other-resources/next-steps-checkpoint">Next Steps checkpoint</a> to share your team's recommended next steps (and your reasons).</p>

{% endif %}
