<div style="float:left;">

{% if include.prev-phase == "overview" %}

  <a href="index.html">< Previous: {{ include.prev-phase | capitalize | replace: '-',' ' }}</a>

{% elsif include.prev-phase != "none" %}

  <a href="{{ include.prev-phase }}">< Previous: {{ include.prev-phase | capitalize | replace: '-',' ' }}</a>

{% endif %}

</div>

{% if include.next-phase != "none" %}

<div style="float:right;"><a href="{{ include.next-phase }}">Next: {{ include.next-phase | capitalize | replace: '-',' ' }} ></a></div>

{% endif %}
