<nav class="sidebar-accordion usa-accordion">

  <ul class="usa-sidenav-list">

    <li class="sidebar-level-one">

        <a href="" class="sidebar-on">Overview</a>

    </li>

    <li class="sidebar-level-one">

        <a href="" class="sidebar-off">Next Item</a>

    </li>

    <li class="sidebar-level-one">

      <a href="" class="sidebar-off usa-accordion-button" 
        aria-expanded="true" 
        aria-controls="p-1">
        Research and Discovery
      </a>
      
      <div id="p-1" class="usa-accordion-content">

        <ul class="usa-sidenav-sub_list">
          <li class="sidebar-level-two">
            <a href="" class="sidebar-on">Introduction</a>
          </li>
          <li class="sidebar-level-two">
            <a href="" class="sidebar-off">Activities</a>
          </li>
        </ul>

      </div>

    </li>

    <li class="sidebar-level-one {% if page.title == "none" %}usa-current-sidenav-item{% endif %}">

      <h4 id="test-2" class="usa-accordion-button"
        aria-expanded="false"
        aria-controls="p-2">
        Prototype
      </h4>
      
      <div id="p-2" class="usa-accordion-content">

        <ul class="usa-sidenav-sub_list">
          <li>
            2 to 4 weeks for a new feature
          </li>
          <li>
            4 to 8 weeks for a new service
          </li>
        </ul>

      </div>

    </li>

  </ul>

</nav>
