{% assign phasen = page.phase-next %}

{% assign phasep = page.phase-prev %}

{% assign pagen = page.page-next %}

{% assign pagep = page.page-prev %}


{% assign phasen-link = phasen | downcase | replace: '+', '' | replace: ' ', '-' | replace: '--', '-' %}

{% assign phasep-link = phasep | downcase | replace: '+', '' | replace: ' ', '-' | replace: '--', '-' %}

{% assign pagen-link = pagen | downcase %}

{% assign pagep-link = pagep | downcase %}


<div style="float:left;">

{% comment %}
	Overview page is the start page of the Delivery site section - always index.html for a site section.
{% endcomment %}


{% if phasep == "Overview" %}

  <a href="{{ site.baseurl}}/delivery/index.html">< {{ phasep }}</a>


{% elsif phasep != "none" %}

	{% if pagep != "none" %}

		<a href="{{site.baseurl}}/delivery/{{phasep-link}}/{{pagep-link}}">< {{ phasep }} {{pagep}}</a>

	{% else %}

		<a href="{{site.baseurl}}/delivery/{{phasep-link}}">< {{ phasep }}</a>

	{% endif %}

{% endif %}


</div>


<div style="float:right;">

	{% if pagen != "none" %}

		<a href="{{site.baseurl}}/delivery/{{phasen-link}}/{{pagen-link}}">{{ phasen }} {{pagen}} ></a>

	{% else %}

		<a href="{{site.baseurl}}/delivery/{{phasen-link}}">{{ phasen }} ></a>

	{% endif %}

</div>
