<!DOCTYPE html><!--[if lt IE 7 ]> <html lang="{{ page.lang | default: site.lang | default: 'en-US' }}" class="ie6"> <![endif]--><!--[if IE 7 ]> <html lang="{{ page.lang | default: site.lang | default: 'en-US' }}" class="ie7"> <![endif]--><!--[if IE 8 ]> <html lang="{{ page.lang | default: site.lang | default: 'en-US' }}" class="ie8"> <![endif]--><!--[if IE 9 ]> <html lang="{{ page.lang | default: site.lang | default: 'en-US' }}" class="ie9"> <![endif]--><!--[if (gt IE 9)|!(IE)]><!--><html lang="{{ page.lang | default: site.lang | default: 'en-US' }}"><!--<![endif]-->

<head>

{% include meta.html %}

<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/style.css">
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
</head>

<body class="layout-{{ page.layout }} page-{{ page.title | downcase | replace: ' ', '-'}} site-lang-{{ site.lang }}">

  {% include skip_nav.html %}

  <!--{% include banner.html %}-->

  {% include header.html %}

<div class="usa-overlay"></div>

{{ content }}

{% include footer.html %}

<script src="{{ site.url }}{{ site.baseurl }}/assets/js/uswds.min.js"></script>

</body>

</html>
