---
layout: page
---

<div class="usa-width-one-whole jump-section">

  <div class="usa-width-two-thirds">

    <div class="jump-content">

      <div class="jump-items">

        {{ content }}

      </div>

    </div>

{% if page.resources == true %}
    <div class="page-sources">

      <b>Resources</b><br/>

      In writing these <i>Digital Standards</i>, we sought inspiration from the experiences and expertise of several government teams. In particular, we were inspired by <a title="go to USDS" href="https://playbook.cio.gov/" target="_blank">USDS</a>, <a title="go to Gov.UK" href="https://www.gov.uk/service-manual/service-standard" target="_blank">Gov.uk</a>, <a title="go to Ontario Digital Service" href="https://www.ontario.ca/page/digital-service-standard" target="_blank">Ontario Digital Service</a>, and <a title="go to 18F" href="https://18f.gsa.gov/" target="_blank">18F</a>.

<!--
    {% for item in site.data[page.resources-file] %}

      {{ item.intro }}

      {% for link in item.links %}
        {% if forloop.last %} and <a {% if link.target %}target="{{ link.target }}" {% endif %}href="{{ link.linkto }}" title="{{ link.alt }}">{{ link.title }}</a>.

        {% else %}
        <a {% if link.target %}target="{{ link.target }}" {% endif %}href="{{ link.linkto }}" title="{{ link.alt }}">{{ link.title }}</a>,
        {% endif %}

      {% endfor %}

    {% endfor %}
-->
    </div>
{% endif %}

  </div>


  <nav role="navigation">

    <div class="usa-width-one-third jump-menu">

      <div class="jump-menu-header">
        Jump to
      </div>

      <ul class="jump-menu-items">

      {% for item in page.jump-menu %}

        <li>
          <a href="#{{ item  | replace: ' ', '-' | replace: ',', '' | downcase }}">
            {{ item }}
          </a>
        </li>

      {% endfor %}

      </ul>

    </div>

  </nav>


</div>
