---
layout: base
---

<section class="usa-section-dark pages-section">
  <div class="usa-grid">
{% if page.page-type != "subpage" %}
    <div class="usa-width-two-thirds page-hero-text">
{% else %}
    <div class="usa-width-one-full subpage-hero-text">
{% endif %}
      <h1>
        {{ page.title }}
      </h1>

    </div>

{% if page.page-type != "subpage" %}
    <div class="usa-width-one-third page-hero-image">

      <img alt="{{ page.header-image-alt }}" src="{{ page.header-image | relative_url }}">

    </div>
{% endif %} 
  </div>
 
</section>


<main class="usa-grid-full content-wrapper" id="main-content">

  <div class="usa-width-full">

    <div class="usa-width-three-fourths usa-layout-docs-main_content">

  {% if page.page-description == true %}
      <div class="page-intro">
        {{ page.description }}
      </div>
  {% endif %}

    {{ content }}

    </div>

  </div>

</main>
